<!doctype html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
    <title>Document</title>
    <%- include('partials/styles'); %>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<%- include('partials/nav-bar'); %><!--Arriba-->


<div id="layoutSidenav">

    <div id="layoutSidenav_content">
        <main>
            <body>
                <div id="contenedor">
                    <div id="nav1">
                        <!--<h1>Color Guinda</h1>-->
                    </div>
                    <!--HEADER-->
                    <header>
                        <!--Navegación-->
                        <a href="/" class="logo" target="blank"><img src="img/Biblioteca-logo.jpg" alt="Logo"></a>
                        <div class="navegacion">
                          <ul>
                            <li><a href="/" >INICIO</a></li>
                            <li class="submenu">
                                <a href="#" >alumnos</a>
                                <ul class="hijos">
                                  <li><a href="/Alumnos">Ver alumnos</a></li>
                                  <li><a href="/Alumnos/crear">Crear Alumno</a></li>
                                </ul>
                              </li>
                            <li class="submenu">
                              <a href="#" >MATERIAS</a>
                              <ul class="hijos">
                                <li><a href="/Materias">Ver materias</a></li>
                                <li><a href="/Materias/1/Cuatrimestres">Materias cuatrimestre</a></li>
                                <li><a href="/Materias/Crear">Crear Materia</a></li>

                              </ul>
                            </li>
                            <li class="submenu">
                                <a href="#" >CALIFICACIONES</a>
                                <ul class="hijos">
                                  <li><a href="/Calificaciones/Estudiantes">Calificar alumno</a></li>
                                  <li><a href="/Calificaciones/Historial/Estudiantes">Historial alumno</a></li>
                                  <li><a href="/Calificaciones/Consultar/Estudiantes">Consulta alumno</a></li>
                                  <li><a href="/Calificaciones/Resumen/Estudiantes/1">Resumen por cuatrimestre</a></li>
  
                                </ul>
                              </li>
                              <li><a href="/" ></a></li>
                              <li><a href="/" ></a></li>



                          </ul>
                        </div>
                     </header>
            
                    <div id="menu-izq">
                        <!--NAVEGACIón-->
                        <div class="toggle-btn">
                            <span>&#9776</span>
                          </div>
                          <ul>
                            <li>
                              <img src="img/Biblioteca-logo.jpg" alt="" class="logo">
                            </li>
                            <li><a href="/">INICIO</a></li>
                            <li><a href="/Alumnos">ALUMNOS</a></li>
                            <li><a href="/Materias">MATERIAS</a></li>
                            <li><a href="/Calificaciones/Estudiantes">CALIFICACIONES</a></li>
                          </ul>
                    </div>
                    <div id="titulo">
                      <h1>CONTROL GRUPAL</h1>
                    </div>
                    <div id="aside-der">
                    <div id="titulo-der">
                            <h1>Hola Geovanni, ¿Hoy qué haremos? </h1>
                        </div>
                        <div class="galeria">
                        <div class="galeria-img">
                            <div class="foto">
                                <a href="/alumnos">
                                <img src="img/2.png" alt="">
                                </a>
                            </div>
                            <div class="texto-titulo">
                                <p class="p1"> </p>
                                <p>ALUMNOS</p>
                            </div>
                        </div>
                        <div class="galeria-img">
                            <div class="foto">
                                <a href="/Alumnos/crear">
                                <img src="img/2.png" alt="">
                                </a>
                            </div>
                            <div class="texto-titulo">
                                <p class="p1"></p>
                                <p>CREAR ALUMNO </p>
                            </div>
                        </div>
                        <div class="galeria-img">
                            <div class="foto">
                                <a href="/Materias">
                                <img src="img/5.png" alt="">
                                </a>
                            </div>
                            <div class="texto-titulo">
                                <p class="p1"></p>
                                <p>VER MATERIAS</p>
                            </div>
                        </div>
                        <div class="galeria-img">
                            <div class="foto">
                                <a href="/Materias/Crear">
                                <img src="img/4.png" alt="">
                                </a>
                            </div>
                            <div class="texto-titulo">
                                <p class="p1">CREAR NUEVA MATERIA</p>
                                <p></p>
                            </div>
                        </div>
                        <div class="galeria-img">
                            <div class="foto">
                                <a href="/Materias/1/Cuatrimestres">
                                <img src="img/5.png" alt="">
                                </a>
                            </div>
                            <div class="texto-titulo">
                                <p class="p1">MATERIAS POR CUATRIMESTRE</p>
                                <p></p>
                            </div>
                        </div>
                        <div class="galeria-img">
                            <div class="foto">
                                <a href="/Calificaciones/Estudiantes">
                                <img src="img/6.png" alt="">
                                </a>
                            </div>
                            <div class="texto-titulo">
                                <p class="p1">CALIFICAR ALUMNO</p>
                                <p></p>
                            </div>
                        </div>
                        <div class="galeria-img">
                            <div class="foto">
                                <a href="/Calificaciones/Historial/Estudiantes">
                                <img src="img/8.png" alt="">
                                </a>
                            </div>
                            <div class="texto-titulo">
                                <p class="p1">HISTORIAL DEL ALUMNO</p>
                                <p></p>
                            </div>
                        </div>
                        <div class="galeria-img">
                            <div class="foto">
                                <a href="/Calificaciones/Consultar/Estudiantes">
                                    <img src="img/8.png" alt="">
                                </a>
                            </div>
                            <div class="texto-titulo">
                                <p class="p1">CONSULTA ALUMNO</p>
                                <p></p>
                            </div>
                        </div>
                        <div class="galeria-img">
                            <div class="foto">
                                <a href="/Calificaciones/Resumen/Estudiantes/1">
                                    <img src="img/9.png" alt="">
                                </a>
                            </div>
                            <div class="texto-titulo">
                                <p class="p1">RESUMEN POR CUATRIMESTRE</p>
                                <p></p>
                            </div>
                        </div>
            
                        </div>
            
                    </div>
                    <div id="pie-pag">
                        
                        <section>
                            <h1> © Geovanni Melchor Solano, todos los derechos revervados.</h1>
                        </section>
            
                    </div>
                </div>
                <script src="js/index.js"></script>
            
            </body>
        </main>

    </div>
</div>


<%- include('partials/scripts'); %>
</body>
</html>
